@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-yovo-bg text-yovo-slate antialiased font-sans;
  }
}

/* Custom scrollbar utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Printable styles */
@media print {
  body * {
    visibility: hidden;
  }
  #printable-ticket, #printable-ticket * {
    visibility: visible;
  }
  #printable-ticket {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
